html{
    background-color: #EFBC9B;
}


.header{
    background-color: #D6DAC8;
    padding: 50px;
    text-align: left;
    border: solid;
    border-width: 5px;
    text-align: center;
    border-color:#9CAFAA;
}

.container{
    display: grid;
}